In [4]:
pip install numpy

Requirement already satisfied: numpy in c:\users\alicoma\appdata\local\anaconda3\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [90]:
import pandas as pd

df1 = pd.read_csv(r'C:\Users\alicoma\Documents\portfolio\Geography.csv')
df2 = pd.read_csv(r'C:\Users\alicoma\Documents\portfolio\FBI.csv')

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75680 entries, 0 to 75679
Data columns (total 10 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Geographic Area Name (NAME)                                      75680 non-null  object
 1   2012 NAICS code (NAICS2012)                                      75680 non-null  object
 2   Meaning of NAICS code (NAICS2012_LABEL)                          75680 non-null  object
 3   Meaning of Legal form of organization code (LFO_LABEL)           75680 non-null  object
 4   Meaning of Employment size of establishments (EMPSZES_LABEL)     75680 non-null  object
 5   Year (YEAR)                                                      75680 non-null  int64
 6   Number of establishments (ESTAB)                                 75680 non-null  object
 7   Paid employees for pay period including March 12 (number) (EMP)  75680 non-null  object
 8   First-quarter payroll ($1,000) (PAYQTR1)                         75680 non-null  object
 9   Annual payroll ($1,000) (PAYANN)                                 75680 non-null  object
dtypes: int64(1), object(9)
memory usage: 5.8+ MB

In [83]:
import pandas as pd

# Load the data
df2 = pd.read_csv(r'C:\Users\alicoma\Documents\portfolio\FBI.csv')

# Step 1: Clean column names (remove newlines, spaces)
df2.columns = df2.columns.str.replace('\n', ' ').str.strip()

# Step 2: Drop columns with all NaN values
df2 = df2.dropna(axis=1, how='all')

# Step 3: Convert necessary columns to numeric (e.g., population, crime data columns)
columns_to_convert_df2 = [
    'Population2', 'Violent crime3', 'Murder and nonnegligent manslaughter', 
    'Rape (revised definition)4', 'Rape (legacy definition)5', 'Robbery', 
    'Aggravated assault', 'Property crime', 'Burglary', 'Larceny-theft', 'Motor vehicle theft'
]

# Convert columns to numeric after removing commas
for col in columns_to_convert_df2:
    df2[col] = pd.to_numeric(df2[col].str.replace(',', ''), errors='coerce')

# Step 4: Clean the 'Year' column and convert to numeric
df2['Year'] = pd.to_numeric(df2['Year'], errors='coerce')

# Step 5: Handle missing values in 'Area' column
# Fill NaN values in 'Area' column using bfikk
df2['Area'] = df2['Area'].bfill  # Forward fill missing 'Area' values

# Step 6: Filter the data for the year 2016
df2_2016 = df2[df2['Year'] == 2016]

# Step 7: Remove rows with NaN in critical columns like 'Area' (in case there's still missing data after filling)
df2_2016 = df2_2016.dropna(subset=['Area'])


df2_2016.info()

<class 'pandas.core.frame.DataFrame'>
Index: 66 entries, 2 to 197
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Area                                  66 non-null     object
 1   Year                                  66 non-null     float64
 2   Population2                           66 non-null     float64
 3   Violent crime3                        66 non-null     float64
 4   Unnamed: 4                            66 non-null     object
 5   Murder and nonnegligent manslaughter  66 non-null     float64
 6   Unnamed: 6                            66 non-null     object
 7   Rape (revised definition)4            66 non-null     float64
 8   Unnamed: 8                            66 non-null     object
 9   Rape (legacy definition)5             66 non-null     float64
 10  Unnamed: 10                           66 non-null     object
 11  Robbery                               66 non-null     float64
 12  Unnamed: 12                           66 non-null     object
 13  Aggravated assault                    66 non-null     float64
 14  Unnamed: 14                           66 non-null     object
 15  Property crime                        66 non-null     float64
 16  Unnamed: 16                           66 non-null     object
 17  Burglary                              66 non-null     float64
 18  Unnamed: 18                           66 non-null     object
 19  Larceny-theft                         66 non-null     float64
 20  Unnamed: 20                           66 non-null     object
 21  Motor vehicle theft                   66 non-null     float64
 22  Unnamed: 22                           66 non-null     object
dtypes: float64(12), object(11)
memory usage: 12.4+ KB